@media (max-width: 850px) {
    .waiting {
        &__row {
            max-width: 1000px;
            min-width:  600px;
        }
    }
}


@media (max-width: 630px) {
    .waiting {
        &__row {
            max-width: 600px;
            min-width:  300px;
        }
    }
}

@media (max-width: 520px) {
    .waiting {
        &__row {
            
        }
        &__dates {
            display: flex;
            flex-direction: column;
        }
    }
}

