$maxWidth: 1780;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.steps_wrap {
  width: 100%;
}

.steps {
  font-size: 18px;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 50px;
  @media (min-width: 1900px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
  }
  width: fit-content;
  .item {
    margin: 5px;
    p {
      display: inline-block;
      background-color: rgba(1,1,1,0);
      margin-right: 15px;
      margin-bottom: 0 !important;
    }
    .btn {
      display: none;
    }
    .content {
      display: none;
    }
    color: #BFBFBF;
    //vertical-align: middle;
    //margin: auto 26px;
    transition-duration: 0.5s;

    .active {
      display: none;
    }
  }
  .item_active {
    font-size: 20px;

    .notif_disabled {
      text-align: center;
    }

    p {
      font-size: 20px;
      display: inline-block;
      background-color: rgba(124,104,247,1);
      border-radius: 50%;
      //padding: 4px;
      padding-top: 5px;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      margin: auto 10px !important;
    }
    color: #FFF;
    margin: 10px;
    vertical-align: middle;
    transition-duration: 0.5s;
    .btn {
      //margin-left: 60%;
      width: fit-content;
      margin-left: 50px;
      margin-top: 3px;
      display: block;
      padding: 5px;
      background-color: #E3A9FF;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      //font-size: 1vh;
      &:hover {
        //padding: 7px;
        background-color: #f7e6ff;
        color: black;
        transition-duration: 0.3s;
      }
    }
    .content {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: auto;
      .playercount {
        text-align: left;
        vertical-align: middle;
        width: fit-content;
        padding-top: 5px;
      }
    }
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  &__mini {
    font-size: 4px;
    margin: 0 30px;
  }
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


// .strap {
//     width: 100%;
//     height: 60vh;
//     background-color: #8EC5FC;
//     background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
//     padding: 30px auto;
//     margin: 35px 0;
// }

.strap {

    div {
      color: white;
    }
  
    width: 100%;
    //height: 28vh;
    padding: 20px auto;
  
      background: linear-gradient(119deg, #b0d9cf, #702a9f, #b79f75);
      background-size: 600% 600%;
  
      -webkit-animation: BgAnim 17s ease infinite;
      -moz-animation: BgAnim 17s ease infinite;
      -o-animation: BgAnim 17s ease infinite;
      animation: BgAnim 17s ease infinite;
  }
  
  @-webkit-keyframes BgAnim {
      0%{background-position:0% 84%}
      50%{background-position:100% 17%}
      100%{background-position:0% 84%}
  }
  @-moz-keyframes BgAnim {
      0%{background-position:0% 84%}
      50%{background-position:100% 17%}
      100%{background-position:0% 84%}
  }
  @-o-keyframes BgAnim {
      0%{background-position:0% 84%}
      50%{background-position:100% 17%}
      100%{background-position:0% 84%}
  }
  @keyframes BgAnim {
      0%{background-position:0% 84%}
      50%{background-position:100% 17%}
      100%{background-position:0% 84%}
  }
  
  .gf_block {
    display: block;
    margin: 20px 50px;
    height: 100%;
    min-height: 100px;
    //background: rgba(50,50,50,0.5);
    transition-duration: 1s;
  }
  
  .finished_title {
    //-webkit-text-shadow: 8px 14px 27px -14px #000000; 
    //text-shadow: 8px 14px 27px -14px #000000;
    text-shadow: 6px 5px 17px rgba(0, 0, 0, 0.3);
    padding-top: 50px;
    font-weight: bold;
    @include adaptiv-font(40, 20);
    text-align: center;
  }
  
  .gf {
    &__h2 {
      @include adaptiv-font(20, 14);
      max-width: 40vw;
      text-align: center;
      padding: 25px 10px;
      margin: -16px auto;
      background: rgba(241, 241, 241, 0.5);
      border-radius: 25px;
    }
    &__rating {
  
      font-size: 50px;
      //color: rgb(160, 166, 175);
      margin-top: 60px;
      //margin: 20px auto;
      text-align: center;
      img {
        height: 55px;
      }
      
    }
  
    &_underline {
      display: inline;
      text-decoration: underline;
    }
  
    &__good {
      display: inline;
      color: rgb(137, 179, 137);
      font-size: 35px;
      vertical-align: middle;
    }
    &__bad {
      display: inline;
      color: rgb(214, 165, 165);
      font-size: 35px;
      vertical-align: middle;
    }
  
    &__button {
      color: white;
      border-radius: 30px;
      box-shadow: 0px 22px 35px 0px rgba(75, 75, 75, 0.15);
      padding: 20px 50px;
      display: inline;
      cursor: pointer;
      background: linear-gradient(to bottom, #715cf1 0%, #8c79ff 100%);
      margin: 0 auto;
  
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
  
      // &:last-child {
      //   margin: 0;
      // }
    }
  
    &__buttons {
      padding: 30px 0;
      display: flex;
      //align-items: center;
      //position: relative;
      justify-content: center;
      flex-direction: row;
      margin: auto;
    }
  }
  
  .points {
    //display: inline;
    font-size: 75px;
    background-color: rgba(60,60,60, 0.4);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
  }


//connecting media
@import "media";
//connecting media
